@media screen and (min-width: 990px) {
  main {
    width: 990px;
    margin: auto;
  }
}

input[type='radio'],
input[type='submit'],
button,
select {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.trash-seance {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -50px;
  top: 25px;
  display: none;
}

.accept-button {
  display: block;
  margin: 3rem auto 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  border: none;
  padding: 12px 57px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #16A6AF;
  color: #FFFFFF;
}

.explanation-text {
  font-size: 14px;
  color: #ff0000;
  font-weight: 600;
}

.email_input {
  padding: 16px;
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: 990px) {
  main {
    width: 990px;
    margin: auto;
  }
}